$primary-color: #237CBE;
$secondary-color: #F0F0F0;

header#page-header {
  color: #F0F0F0;
  background: #237CBE;
  padding: 5px;
  border-bottom: 3px solid darken($primary-color, 10%);
  	 h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer {
  color: #237CBE;
  background: #F0F0F0;
  text-align: center;
  padding: 5px;
  border-top: 3px solid darken($secondary-color, 10%);
}

aside#sidebar {
  float: right;
  background: #F0F0F0;
  width: 200px;
}